@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --breakpoint-3xl: 1920px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

.swiper-pagination-bullets-dynamic {
  position: relative !important;
  width: 200% !important;
  bottom: 40px !important;
  right: 0 !important;
  left: auto !important;
  text-align: right !important;
}

.swiper-pagination-bullet-active-main {
  background-color: red !important;
  width: 16px !important;
  height: 16px !important;
}

@media (max-width: 768px) {
  .swiper-pagination-bullet-active-main {
    width: 12px !important;
    height: 12px !important;
  }
}
